{% extends 'base.html' %}
{% block main %}
    <form action="/login/" method="POST" id="login_form">
        <h2>Log in</h2>
        <input type="text" name="username" id="username" required placeholder="Username">
        <input type="password" name="password" id="password" required placeholder="Password">
        <input type="submit" value="Log in">
        {% if failure %}
            <h5 style='color:red;'>Wrong username or password, please try again</h5>
        {% endif %}
        <span>Don't have a user? Register <a href='/register/'>here</a></span>
    </form>
{% endblock %}