<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body>
    <main>
        {% include 'nav.html' %}
        {% if user_exists %}
            <div id='user_information'>
                <span>
                    {{user_data[0]['username']}}<br>
                    {{videos|length}} videos
                </span>
                <img src="{{user_data[0]['img']}}" alt="{{username}}s profile image" width='175px'>
            </div>
            {% if user_has_videos %}
            <div id='preview_container'>
                {% for preview_list in videos %}
                <a class='video_preview' href='/play/{{preview_list["video_id"]}}/'>
                    <img src="/MeTube/videos/{{preview_list['video_id']}}/thumbnail.png" class='preview_thumbnail'>
                    <div class='preview_title'>{{ preview_list['title'] }}</div>
                    <div class='preview_desc'>{{ preview_list['description'] }}</div>
                </a>
                {% endfor %}
            </div>
            {% else %}
                <h2>This user has not posted any videos yet...</h2>
            {% endif %}
        {% else %}
            <h1>Sorry, but there is no user named {{username}}</h1>
        {% endif %}
    </main>
</body>
</html>